.section-ensemble-wrapper {
  z-index: 99;
  background-color: var(--bgColor);
  width: var(--canvasWidth) !important;
  height: var(--canvasHeight) !important;
  position: absolute !important;
  top: var(--canvasTop) !important;
  left: var(--canvasLeft) !important;
  right: var(--canvasRight) !important;
  bottom: var(--canvasBottom) !important;
}

.section-ensemble-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-ensemble-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.relative-container {
  position: relative;
}
.relative-absolute {
  position: absolute;
}

/* storyBook story styles */
.storybook-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.storybook-wrapper h1 {
  color: #fff;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
