.FaeLoaderContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FaeLoaderContainer p{
    position: absolute;
    left: calc(50% -0.6rem);
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.faeCircle{
    position: relative;
    margin: -30px;
    border-radius: 50%;
    animation: faeCircleRoute 4s linear infinite;
}

.faeCircle::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top:14px;
    right: 14px;
    background:#0011ff;
    box-shadow: 0 0 0 2px #0011ff33, 0 0 0 4px #0011ff22,0 0 0 8px #0011ff11;
}

@keyframes faeCircleRoute {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.faeCircle:nth-child(2){
    animation: faeCircleRoute2 4s linear infinite;
    animation-delay: -1s;
    /* border-top: 4px solid transparent;
    border-left: 4px solid #69f18644; */
}

.faeCircle:nth-child(2)::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: initial;
    bottom:14px;
    left: 14px;
    background:#69f186;
    box-shadow: 0 0 0 2px #69f18633, 0 0 0 4px #69f18622,0 0 0 8px #69f18611;
}

.faeCircle:nth-child(3){
    position: absolute;
    animation: faeCircleRoute2 4s linear infinite;
    animation-delay: -2s;
    /* border-top: 4px solid transparent;
    border-left: 4px solid #d6292944; */
}
.faeCircle:nth-child(3)::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: initial;
    bottom:14px;
    left: 14px;
    background:#d62929;
    box-shadow: 0 0 0 2px #d6292933, 0 0 0 4px #d6292922,0 0 0 8px #d6292911;
}

@keyframes faeCircleRoute2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}