.c-expand-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &__line {
    position: absolute;
    width: 100%;
    height: var(--line-thickness);
    background: var(--color);
    border-radius: var(--line-thickness);
    transition: transform 0.3s ease;

    &[data-vertical='true'] {
      transform: rotate(90deg);
    }
  }

  &[data-variant='rotate'][aria-pressed='true'] &__line {
    transform: rotate(180deg);

    &[data-vertical='true'] {
      transform: rotate(180deg);
    }
  }

  &[data-variant='collapse'][aria-pressed='true'] &__line[data-vertical='true'] {
    transform: rotate(0deg);
  }
}