#fixed-model-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(6, 1, 23);
}

#fixed-model-canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.fixed-model-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 400vh;
    z-index: 99999;
}

.fixed-test {
    width: 100vw;
    height: 100vh;
    background: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}