.cv-download-wrapper {
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.cv-download-page {
  height: 100%;
  fill: #fff;
}

.cv-download-page .page-corner {
  fill: #e7ecec;
}
.cv-download-page .page-line {
  fill: #cdccca;
  stroke: #cdccca;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.cv-download-banner {
  width: 120%;
  color: rgb(0, 0, 255);
  position: absolute;
}
.cv-download-banner-path {
  fill: var(--color);
}
.cv-download-banner-underbanner {
  fill: var(--underBanner);
}
.cv-download-banner-letters {
  fill: white;
}
.cv-download-arrow-circle {
  height: 28%;
  width: 35%;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  right: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color);
  box-shadow: -2px -2px 10px 2px rgba(0, 0, 0, 0.406);
  transition: 0.5s ease-in-out;
}

.cv-download-arrow {
  transform: scale(0.45);
  min-height: calc(var(--size) / 2.2);
  min-width: calc(var(--size) / 2.2);
  background: #f5f6f6;
  filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.481));
  clip-path: polygon(18% 60%, 34% 60%, 34% 0, 68% 0, 68% 60%, 84% 60%, 52% 100%);
  transition: 0.5s ease-in-out;
}

.cv-download-wrapper:hover .cv-download-arrow-circle {
  background: var(--buttonHover);
  transform: rotate(-360deg) scale(3);
  bottom: 30%;
  right: 30%;
  box-shadow: -2px -2px 10px 10px rgba(0, 0, 0, 0.615);
}

.cv-download-label {
  font-size: 100%;
  font-weight: 600;

  color: var(--labelColor);
  position: absolute;
  bottom: -50%;
  letter-spacing: 3px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.cv-download-wrapper:hover .cv-download-label {
  bottom: -35%;
  opacity: 1;
}
