.c-skill-bar {
  width: 100%;
  padding: 0 20px;

  &::before {
    content: attr(data-label);
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
  }

  &__track {
    height: 14px;
    background: #282828;
    border-radius: 3px;
  }

  &__fill {
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBar 2.5s 1;

    &::before {
      content: attr(data-level) '%';
      position: absolute;
      top: -35px;
      right: 0;
      padding: 4px 6px;
      background: #f1f1f1;
      border-radius: 4px;
      font-size: 12px;
      transform: translateX(50%);
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: #f1f1f1;
      top: -20px;
      right: 0;
      transform: translateX(50%) rotate(45deg);
      border-radius: 2px;
    }
  }
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
