.chevronCard {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 3rem 1.2rem;
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0004);
}

.chevronCard .box {
  position: relative;
  width: 15rem;
  height: 18rem;
  margin: 0 5px;
  border-radius: 20px;
  background: linear-gradient(var(--direction), var(--color) 25%, white 25%, white 50%, var(--color) 50%, var(--color) 75%, white 75%, white 100%);
  background-size: 12rem 12rem;
  animation: animatedCardBackground 1s linear infinite;
  animation-play-state: paused;
  transition: filter 1s;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.chevronCard .box:hover {
  animation-play-state: running;
}

@keyframes animatedCardBackground {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 12rem;
  }
}

.chevronCard-label {
  font-size: 1.2rem;
  width: 90%;
  position: absolute;
  top: 7rem;
  left: -100%;
  background: rgba(255, 255, 255, 0.455);
  transition: 0.5s;
  opacity: 0;
  color: var(--labelColor);
}
.chevronCard:hover .chevronCard-label {
  transform: translateX(120%);
  opacity: 1;
}

.chevronCardPicture {
  width: 97%;
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  transition: 0.7s;
}

.chevronCard:hover .chevronCardPicture {
  width: 75%;
  transform: translateY(3rem) translateX(3rem);
}

.chevronCard a {
  min-width: 5rem;
  padding: 0.5rem;
  border-radius: 10px;
  outline: 2px solid var(--buttonColor);
  box-shadow: 0 0 5px black;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0 0 5px black;
  color: var(--buttonColor);
  letter-spacing: 0.2rem;
  z-index: 50;
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevronCard:hover a {
  transform: translateY(-19rem);
  opacity: 1;
}

.chevronCard a:hover {
  color: var(--buttonHover);
  outline: 3px solid var(--buttonHover);
  background: rgba(101, 100, 100, 0.384);
}

@media (min-width: 768px) {
  .chevronCard {
    margin: unset;
  }
  .chevronCard .box {
    width: 17rem;
    height: 23rem;
  }
}
