@use '../variables' as *;

.c-floating-input {
  position: relative;
  height: 2rem;
  line-height: 2rem;
  min-width: 10rem;

  input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 2rem;
    border-radius: 10px;
    border: 2px solid var(--border-color, var(--gray-200));
    background: transparent;
    transition: all 0.3s ease;
    z-index: 10;
    color: var(--text-color, var(--gray-200));

    &:focus {
      border: 2px solid var(--border-color-focus, var(--gray-600));
      background: var(--background-color, rgb(27, 27, 28));
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      color: var(--border-color-focus, var(--gray-600));
      background: var(--background-color, rgb(27, 27, 28));
      transform: translate(-2px, -6px) scale(0.88);
      padding: 0 0.5rem;
      line-height: 0.6rem;
      z-index: 11;
    }
  }

  label {
    position: absolute;
    font-size: 0.8rem;
    color: var(--text-color, var(--gray-200));
    margin: 0 1rem;
    transition: all 0.2s ease;
    transform: translate(0.2rem, 0) scale(1);
    transform-origin: left center;
    z-index: 1;
  }

  &__error {
    color: var(--error-color, var(--red-600));
    font-size: 0.875rem;
    margin-top: 0.25rem;
    position: absolute;
    transform: translate(0.5rem, 1.9rem);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  &[data-error] input {
    border-color: var(--error-color, var(--red-600));
  }
}