.circularNavMenu {
  width: 15rem;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.circularNavActive {
  height: 15rem;
}

.circularNavMenu li {
  position: absolute;
  left: 0;
  list-style: none;
  font-size: 1.6em;
  transform-origin: 7.5rem;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(6rem);
}

.circularNavMenu.circularNavActive li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}

.circularNavToggle {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  font-size: 3em;
  transition: 1.25s;
}
.circularNavToggle:hover {
  background: rgb(155, 153, 153);
}

.circularNavMenu.circularNavActive .circularNavToggle {
  transform: rotate(315deg);
}

.circularNavMenu li a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: 0.5s;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transform: rotate(calc(360deg / -8 * var(--i)));
}
.circularNavMenu li a:hover {
  background: rgba(155, 153, 153, 0.856);
}

/*  Iconography */
.circularNavToggle-icon {
  height: 80%;
  width: 80%;
}
.circularNavMenu-icon svg {
  height: 70%;
  width: 70%;
}

.circularNavToggle-icon path,
.circularNavMenu-icon path,
.circularNavMenu-icon rect,
.circularNavMenu-icon circle {
  stroke-width: 40;
  stroke: var(--color);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}

.circularNavToggle-icon:hover path,
.circularNavMenu-icon:hover path,
.circularNavToggle-icon:hover rect,
.circularNavToggle-icon:hover circle {
  stroke: var(--hoverColor);
}

.circularNavToggle-icon:target path,
.circularNavMenu-icon:target path,
.circularNavToggle-icon:target rect,
.circularNavToggle-icon:target circle {
  stroke: var(--pressColor);
}

@media (max-width: 850px) {
  .circularNavActive {
    height: 15rem;
  }
}
