#universe3D-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: rgb(12, 10, 16);
}

#universe3D-wrapper canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffffaf;
}

.space-scroll-content {
  position: sticky;
}
.space-scroll-content section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-scroll-content section p {
  color: #ffffffaf;
  font-size: 4rem;
}

.sectionSpace{
  transition: .5s;
}
.sectionAnimationOpacity {
background: red;
}