:root {
  --bubble-card-background: #1c2942;
  --bubble-card-border: #67df6f47;
  --bubble-card-bubble: #67df6e;
  --bubble-card-shadow: #00000033;
  --bubble-card-background-letters: #bbbbbb0b;
  --bubble-card-white: #f2f2f2;
  /* --secondary-color: #161d26;
  --magic-mint: #b5ffe1;
  --violet-color: #541388;
  --gamboge: #e59500;
  --amaranth: #d93654;
  --transparent-metal: #15151596;
  --metal: #151515; */
}
.perspectiveCard-wrapper {
  width: 17rem;
  height: 23rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  transform-style: preserve-3d;
}

/* .perspectiveCard-wrapper::before {
  content: '';
  width: 17rem;
  height: 15rem;
  border-radius: 1rem;
  position: absolute;
  top: 57%;
  transition: 0.5s ease-in-out;
  animation-delay: .2s;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.174), transparent);
  transform-style: preserve-3d;
  filter: blur(15px);
  transform: perspective(5000px) translateX(-1.9rem) rotateY(-20deg) rotateX(-75deg);
} */

/* .perspectiveCard-wrapper:hover::before {
  transform: translateY(-5rem) translateX(1.9rem);
  opacity: 0;
} */
.perspectiveCard-content {
  width: 17rem;
  height: 23rem;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid transparent;
  box-shadow: 0 0.2rem 0.6rem var(--bubble-card-shadow);
  background: var(--bubble-card-background);
  border-radius: 1rem;
  z-index: 11;
  overflow: hidden;
  /* transition: 0.5s ease-in-out; */
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0004);
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}

.perspectiveCard-content:hover {
  border: 0.1rem solid var(--bubble-card-border);
  /* transform: scale(1.05); */
}
.perspectiveCard-content::before,
.perspectiveCard-content::after {
  content: '';
  position: absolute;
  z-index: 5;
  background: var(--bubble-card-bubble);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.perspectiveCard-content::before {
  width: 9rem;
  height: 9rem;
  top: -6%;
  right: -6%;
  transition: 1s ease-in-out;
}

.perspectiveCard-content:hover::before {
  transform: scale(1.8);
}

.perspectiveCard-content::after {
  width: 5rem;
  height: 5rem;
  bottom: -6%;
  left: -6%;
}

.perspectiveCard-content:hover::after {
  transform: scale(0);
}

.perspectiveCard-marquee {
  position: absolute;
  top: 40%;
  left: -15%;
  z-index: 0;
  font-size: 11rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  color: var(--bubble-card-background-letters);
  text-shadow: 0 0.2rem 2rem var(--bubble-card-shadow);
  transition: 1s ease-in-out;
}

.perspectiveCard-content:hover .perspectiveCard-marquee {
  transform: translateX(-15rem);
  /* opacity: 0; */
}
.perspectiveCard-img {
  width: 70%;
  height: auto;
  position: absolute;
  bottom: 25%;
  left: 15%;
  z-index: 20;
  transition: 1s ease-in-out;
}

.perspectiveCard-content:hover .perspectiveCard-img {
  transform: scale(0.8) translateX(-3rem) translateY(-5rem);
}

.perspectiveCard-title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  position: absolute;
  bottom: 13%;
  right: 25%;
  text-shadow: 0 0 0.5rem #00000085;
  transition: 1s ease-in-out;
}

.perspectiveCard-content:hover .perspectiveCard-title {
  transform: scale(0.8) translateX(4rem) translateY(-6rem);
}

.perspectiveCard-body {
  width: 100%;
  height: 10rem;
  position: relative;
  bottom: -100%;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.9s ease-in-out;
  animation-delay: 0.2s;
}
.perspectiveCard-content-text {
  margin: 0.5rem 1.5rem;
  position: absolute;
  top: 1rem;
  font-weight: 400;
}
.perspectiveCard-content:hover .perspectiveCard-body {
  transform: translateY(-100%);
}
.perspectiveCard-body p,
h1 {
  font-family: sans-serif;
  color: var(--bubble-card-white);
}

.perspectiveCard-footer {
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transition: 0.9s ease-in-out;
  animation-delay: 0.3s;
}

.perspectiveCard-content:hover .perspectiveCard-footer {
  transform: translateY(-150%);
}
.perspectiveCard-btn {
  padding: 1rem 2rem;
  background-color: unset;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: var(--bubble-card-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perspectiveCard-success {
  background-color: var(--bubble-card-bubble);
}
.perspectiveCard-border {
  border: 0.1rem solid var(--bubble-card-bubble);
}
