
.ToggleButton {
  width: var(--size);
  aspect-ratio: 1;
  position: absolute;
  top: var(--top);
  bottom: var(--bottom);
  left: var(--left);
  right: var(--right);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--buttonBackgroundColor);
  border-radius: 5px;
  box-shadow: 0 10px 20px var(--shadow);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 9999;
  border: none;
  outline: none;
}
.ToggleButton:hover {
  background: var(--buttonHover);
}

.ToggleButton span {
  position: absolute;
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background: var(--color);
  transition: 0.5s ease-in-out;
}

.button-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.ToggleButton span:nth-child(1) {
  width: 50%;
  left: 12%;
  transform: translateY(calc(var(--size) / -3.5));
}
.ToggleButtonActive span:nth-child(1) {
  width: 75%;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.ToggleButton span:nth-child(2) {
  width: 35%;
  left: 12%;
  transform: translateY(calc(var(--size) / 3.5));
}
.ToggleButtonActive span:nth-child(2) {
  width: 75%;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.ToggleButtonActive span:nth-child(3) {
  transform: translateX(120%);
}
