@use '../../variables' as *;

.scroll-container {
  position: relative;
  width: 80dvw;
  height: 80dvh;
  margin: 10dvh auto;
  padding: 0;
  background: red;
  overflow: hidden;

  &__banner {
    pointer-events: none;
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10%);

    &::before {
      content: '';
      position: absolute;
      top: 0.1%;
      left: 50%;
      transform: translate(-52.5%, 0%);
      width: 65%;
      aspect-ratio: 1 / 1;
      background: var(--white-100);
      border-radius: 50%;
      z-index: -1;
    }

    svg {
      height: 100%;
    }

    &--simple {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        display: none;
      }
    }
  }

  h1 {
    position: absolute;
    top: -1rem;
    left: -1rem;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--charcoal-900, --charcoal-950);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: clamp(3rem, 19vw, 20rem);
    font-weight: 900;
    z-index: 80;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  &__content {
    width: 80dvw;
    height: 80dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
      height: 100dvh;
      flex-shrink: 0;
    }
  }
}