:root {
  --sunSize: 6vh;
  --sunCoreSize: calc(var(--sunSize) - 1.2rem);
  --moonSize: calc(var(--planetSize) / 3.5);
  --planetSize: calc(var(--sunSize) - 1vh);

  --outerHaloSize: calc(var(--sunSize) + 2.5rem);
  --middleHaloSize: calc(var(--sunSize) + 0.8rem);

  --planetOrbitSize: calc(var(--planetSize) + 2rem);

  --innerOrbitSize: calc(var(--sunSize) + var(--planetOrbitSize) + 7vh);
  --outerOrbitSize: calc(var(--innerOrbitSize) * 1.8);

  --innerOrbitalTime: 55s;
  --outerOrbitalTime: calc(var(--innerOrbitalTime) * 2);
  --planetOrbitalTime: 12s;
  --planetAntiOrbitalTime: calc(var(--innerOrbitalTime) / 1.5);

  --dashedChartColor: #ffffff86;
  --centerSunColor: #f9dc96;
  --middleSunColor: #67564b;
  --outerSunColor: #4a3c3f;

  --planetColor:#b942d6;
  --planetDarkColor:#732985a2;
  --planetMiddleColor:#7329856b;
  --planetLightColor:#b842d667;

  --moonColor:#9cc0cb;
  --darkMoonColor:rgba(255, 255, 255, 0.233);
  --middleMoonColor:rgba(255, 255, 255, 0.171);
  --lightMoonColor:rgba(255, 255, 255, 0.075);
}

.navigationChart {
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}

.navigationChart * {
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashedChart {
  outline: 2px dashed var(--dashedChartColor);
}

.outerOrbit {
  width: var(--outerOrbitSize);
  height: var(--outerOrbitSize);
  border-radius: 50%;
  margin-top: 10vh;
  animation: orbitalMovement var(--outerOrbitalTime) linear infinite;
}

.planet {
  width: var(--planetSize);
  height: var(--planetSize);
  border-radius: 50%;
  position: absolute;
  top: calc((var(--planetSize) * -1) / 2);
  background: var(--planetColor);
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 0 2px var(--planetDarkColor), 0 0 0 4px var(--planetMiddleColor),0 0 0 8px var(--planetLightColor); */
}

.planetRotation{
  position: absolute;
  animation: antiOrbitalMovement var(--outerOrbitalTime) linear infinite;
  z-index: 100;
}
.innerOrbitPlanetRotation{
  position: absolute;
  animation: antiOrbitalMovement var(--planetAntiOrbitalTime) linear infinite;
  z-index: 100;
}

.rougePlanetSystem {
  position: absolute !important;
  top: 3rem !important;
  left: 3rem;
}

.planetOrbit {
  min-width: var(--planetOrbitSize);
  min-height: var(--planetOrbitSize);
  border-radius: 50%;
  position: relative;
  animation: orbitalMovement var(--planetOrbitalTime) linear infinite;
}

.planetOrbitSecondary {
  animation-delay: -1s;
}

.planetOrbit::before {
  content: '';
  width: var(--moonSize);
  height: var(--moonSize);
  border-radius: 50%;
  position: absolute;
  top: -0.45rem;
  background: var(--moonColor);
  box-shadow: 0 0 0 5px var(--darkMoonColor), 0 0 0 9px var(--middleMoonColor),0 0 0 15px var(--lightMoonColor);

}

.innerOrbit {
  width: var(--innerOrbitSize);
  height: var(--innerOrbitSize);
  border-radius: 50%;
  animation: orbitalMovement var(--innerOrbitalTime) linear infinite;
}

.sun {
  width: var(--sunSize);
  height: var(--sunSize);
  border-radius: 50%;
  position: relative;
}

.sunCore {
  width: var(--sunCoreSize);
  height: var(--sunCoreSize);
  border-radius: 50%;
  position: absolute;
  z-index: 11;
  background: #f9dc96;
}

.middleHalo {
  width: var(--middleHaloSize);
  height: var(--middleHaloSize);
  position: absolute;
  z-index: 2;
  fill: var(--middleSunColor);
  stroke: var(--middleSunColor);
  animation: haloMovement var(--planetOrbitalTime) linear infinite;
}

.outerHalo {
  width: var(--outerHaloSize);
  height: var(--outerHaloSize);
  position: absolute;
  z-index: 1;
  fill: var(--outerSunColor);
  stroke: var(--outerSunColor);
}

@keyframes orbitalMovement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes antiOrbitalMovement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes haloMovement {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* // Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {
  :root {
    --sunSize: 12vh;
    --innerOrbitSize: calc(var(--sunSize) + var(--planetOrbitSize) + 9vh);
    --outerOrbitSize: calc(var(--innerOrbitSize) * 1.8);
    --planetSize: calc(var(--sunSize) - 1.4vh);
    --planetOrbitSize: calc(var(--planetSize) + 3.5rem);
  }

  .navigationChart {
    width: 65vw;
    height: 95vh;
  }

  .outerOrbit {
    margin-top: 2vh !important;
    margin-left: 10vw !important;
  }

  .planetOrbit::before {
    top: -0.75rem;
  }

  .rougePlanetSystem {
    top: auto !important;
    bottom: 5rem;
    left: 3.5rem;
  }
}
