:root {
  --cliffSize: calc(var(--sphereCircleSize) - 30%);

  --plantColor: #512f69;
  --flowerColor: #ac88cd;
  --hillTwoColor: #6a3e7e;
  --hillThreeColor: #6b3883;
  --hillFourColor: #8149a1;
  --cliffColor: #824885;

  --nightSkyColor: #7060b0;
  --daySkyColor: #ab889a;

  --planetMoonColor: #f1e6fd;
  --planetMoonInnerHalo: #f1e6fd3a;
  --planetMoonOuterHalo: #f1e6fd0e;
  --planetSunColor: #fcf4cd;
  --middlePlanetSunColor: #ceb9b5;
  --outerPlanetSunColor: #ba9ea5;
}

.planetCircleWrapping {
  border-radius: 50%;
  position: absolute;
  background: var(--nightSkyColor) url(https://firebasestorage.googleapis.com/v0/b/cssforge.appspot.com/o/Global%20Images%2Fstars.png?alt=media&token=417eaa54-7836-4722-9fdd-2ae9ceaf68f4) cover no-repeat;
  overflow: hidden;
  z-index: 1;
  transition: 1s ease-in-out;
}

.planetCircleWrapping:hover {
  background: var(--daySkyColor);
}
.planetCircleWrapping:hover .dayRotation {
  transform: rotate(140deg);
}

.planetCircleWrapping:hover .dayRotation::before {
    opacity: 0;
  }

.planetCircleWrapping:hover .dayRotation::after {
  opacity: 1;
}

.planetCircleWrapping svg {
  position: absolute;
  bottom: -8%;
  left: 0;
}

.dayRotation {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  transition: 2s ease-in-out;
}

.dayRotation::before {
  content: '';
  width: 35%;
  height: 35%;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 2;
  background: var(--planetMoonColor);
  box-shadow: 0 0 0 2px var(--planetMoonInnerHalo), 0 0 0 5px var(--planetMoonOuterHalo);
  transition: 2s ease-in-out;
}

.dayRotation::after {
  content: '';
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 30%;
  z-index: 2;
  background: var(--planetSunColor);
  box-shadow: 0 0 0 2px var(--middlePlanetSunColor), 0 0 0 5px var(--outerPlanetSunColor);
  opacity: 0;
  transition: 2s ease-in-out;
}

.clift {
  width: 25% !important;
  left: -2% !important;
  z-index: 1;
  fill: var(--cliffColor);
}

.hillFour {
  width: 100%;
  height: auto;
  z-index: 2;
  fill: var(--hillFourColor);
}

.cactusRight {
  width: auto;
  height: 30%;
  right: 15%;
  left: auto !important;
  bottom: 22% !important;
  z-index: 3;
  fill: var(--plantColor);
}
.cactusRightFlower {
  width: auto;
  max-height: 5%;
  right: 21%;
  left: auto !important;
  bottom: 52% !important;
  z-index: 2;
  fill: var(--flowerColor);
}

.hillThree {
  width: 100%;
  height: auto;
  z-index: 4;
  fill: var(--hillThreeColor);
}

.plantLeft {
  width: auto;
  height: 8%;
  left: 15% !important;
  bottom: 22% !important;
  z-index: 4;
  fill: var(--plantColor);
}

.cactusLeft {
  width: auto;
  height: 30%;
  left: 35% !important;
  bottom: 15% !important;
  z-index: 4;
  fill: var(--plantColor);
}

.cactusFlowerRight {
  width: auto;
  max-height: 5%;
  left: 46% !important;
  bottom: 44% !important;
  z-index: 3;
  fill: var(--flowerColor);
}
.cactusFlowerLeft {
  width: auto;
  max-height: 5%;
  left: 34% !important;
  bottom: 35% !important;
  z-index: 3;
  fill: var(--flowerColor);
}

.hillTwo {
  width: 100%;
  height: auto;
  z-index: 5;
  fill: var(--hillTwoColor);
}

.plantRight {
  width: auto;
  height: 9%;
  right: 26%;
  left: auto !important;
  bottom: 11% !important;
  z-index: 5;
  fill: var(--plantColor);
}
.hillOne {
  width: 100%;
  height: auto;
  z-index: 6;
  fill: var(--plantColor);
}

@keyframes dayRotationMovement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
